<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Story</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Create new Story</h1>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>